[submodule "thirdparty/GUICanvas"]
	path = thirdparty/GUICanvas
	url = D:/Projects/GPC/GUICanvas
[submodule "thirdparty/GLUtils"]
	path = thirdparty/GLUtils
	url = D:/Projects/GPC/GLUtils
[submodule "libGPCGUICanvas"]
	path = libGPCGUICanvas
	url = https://github.com/JPGygax68/libGPCGUICanvas.git
[submodule "thirdparty/libGPCGUICanvas"]
	path = thirdparty/libGPCGUICanvas
	url = https://github.com/JPGygax68/libGPCGUICanvas.git
