[submodule "thirdparty/GLUtils"]
	path = thirdparty/GLUtils
	url = D:/Projects/GPC/GLUtils
[submodule "thirdparty/libGPCGUIRenderer"]
	path = thirdparty/libGPCGUIRenderer
	url = https://github.com/JPGygax68/libGPCGUIRenderer.git
