[submodule "thirdparty/GLUtils"]
	path = thirdparty/GLUtils
	url = D:/Projects/GPC/GLUtils
[submodule "thirdparty/libGPCGUIRenderer"]
	path = thirdparty/libGPCGUIRenderer
	url = https://github.com/JPGygax68/libGPCGUIRenderer.git
[submodule "thirdparty/libGPCGLWrappers"]
	path = thirdparty/libGPCGLWrappers
	url = git@github.com:JPGygax68/libGPCGLWrappers.git
[submodule "thirdparty/libGPCFonts"]
	path = thirdparty/libGPCFonts
	url = git@github.com:JPGygax68/libGPCFonts.git
[submodule "thirdparty/glbinding"]
	path = thirdparty/glbinding
	url = https://github.com/cginternals/glbinding.git
